<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        table {
            width: 50%;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }

        thead {
            background-color: #f2f2f2;
        }

        tfoot {
            background-color: #f9f9f9;
            font-weight: bold;
        }
    </style>
    <title>Movie Table</title>
</head>

<h1>All Movies</h1>

<table class="table">
  <thead>
    <tr>
      <th><%= link_to 'Title', movies_path(sort: 'title', direction: determine_direction('title')) %></th>
      <th><%= link_to 'Rating', movies_path(sort: 'rating', direction: determine_direction('rating')) %></th>
      <th><%= link_to 'Release Date', movies_path(sort: 'release_date', direction: determine_direction('release_date')) %></th>
      <th><%= link_to 'Description', movies_path(sort: 'description', direction: determine_direction('description')) %></th>
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= link_to movie.title, movie %></td>
        <td><%= movie.rating %></td>
        <td><%= movie.release_date %></td>
        <td><%= movie.description%></td>
      </tr>
    <% end %>
  </tbody>

  <tfoot>
    <tr>
      <td colspan="3">
        Total Movies: <%= @movies.count %> &nbsp;&nbsp;&nbsp;
        <%= link_to "New movie", new_movie_path %>
      </td>
    </tr>
  </tfoot>
</table>
